

</body>

 <footer>
   <div class="container footer-branded">
     <div class="bg-gray-light">

        <ul style="list-style:none; padding-left:0px" class="list-style-none d-flex text-gray">
          <li class="mr-3">&copy; 2019 Pitch.ai.</li>
          <li class="mr-3"><a href="/site/terms" data-ga-click="Footer, go to terms, text:terms" class="link-gray">Terms</a></li>
          <li><a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy" class="link-gray">Privacy</a></li>
        </ul>

  </div>
   </div>
 </footer>
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/anime.min.js"></script>


 <script src="static/js/script.js"></script>
 <script type="text/javascript">
  console.log("hello");

</script>

 </script>
</html>
