<!DOCTYPE html>
<html>
  <head>
    <title>Pitch.ai</title>
    <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/jumbotron.css">
    <link rel="stylesheet" href="static/css/spinner.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>

   <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container">


     <a href="/"><img class="logo-link" src="static/images/logo.svg"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link link-spacer" href="/">Practice <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link link-spacer" href="#">Course Packs</a>
         </li>
       </ul>
       <div class="my-2 my-md-0 mr-md-3">
         <i style="margin-right:5px;" class="fas fa-user-circle"></i> {{ user }}
       </div>
     </div>
    </div>
  </nav>
