{% include "header.html" %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="jumbotron-presentation">
  <div class="container blue-header" >
    <p>Start a new presentation</p>
    <p>Upload a file or record in the browser</p>
  </div>
</div>

<div id="upload-loading" class="container">
 <!-- Spinner -->
 <div id="upload-spinner" class="spinner">
   <div class="dot1"></div>
   <div class="dot2"></div>
 </div>
 <p class="text-center">Hold tight! We're watching your presentation.</p>
 <p class="text-center" id="cancel-upload">
  <a href="#">Cancel</a>
 </p>
</div>

<div class="container new-presentation">
  <div class="row">
    <div class="col">
     <form  action="" enctype="multipart/form-data" method="post" role="form">
     {{ form.csrf }}
      <div id="uploadPresentation">
      <input type="file" class="card form-control" id="inputFile" name="inputFile" style="display: none">
       <div class="card-wrapper" >
         <div class="card-start">
           <div class="col-4" style="margin-left:50px;">
            <img style="width:125px" src="static/images/upload.svg" alt="Card image cap">
           </div>
           <div class="col-8">
            <h1>Upload a video or audio file</h1>
           </div>
         </div>
       </div>
      </div>
      <button type="submit" id="analyze-btn">Analyze</button>
     </form>

    </div>

    <div class="col">
     <a href="{{ url_for('record_video') }}">
      
        <div class="card-wrapper" id="uploadPresentation">
          <div class="card-start">

            <div class="col-4" style="margin-left:50px;">
             <img style="width:125px" src="static/images/record.svg" alt="Card image cap">
            </div>
            <div class="col-8">
             <h1>Record a new presentation</h1>
            </div>
            <!-- <img class="plus" src="/static/images/plus.svg"> -->
          </div>
        </div>

     </a>
   </div>
  </div>
 </div>

{% include "footer.html" %}
