{% include "header.html" %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <p>Welcome back, {{ user }}!</p>
    <p>What are you going to practice today?</p>
  </div>
</div>

<div class="container presentations">
  <h1>My presentations</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
       <a href="{{ url_for('new_presentation') }}">
       <img class="card-img-top" src="static/images/project-placeholder.png" alt="Card image cap">
       </a>
       <div class="card-body">
        <h2>Start a new presentation</h2>
       </div>
     </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="static/images/project-placeholder.png" alt="Card image cap">
        <div class="card-body">
         <h2>Physics presentation</h2>
        </div>
      </div>
   </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="static/images/project-placeholder.png" alt="Card image cap">
        <div class="card-body">
         <h2>COMM220 final</h2>
        </div>
      </div>
    </div>
  </div>
 </div>

{% include "footer.html" %}